Package: e2fsprogs
Version: @VER@-1
Description: Filesystem Utilities for the ext2/3/4 Filesystems
Section: base
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://e2fsprogs.sourceforge.net/
Source:
Depends: @DEP@
Provides: @PROV@
