Package: xupnpd
Version: @VER@-1
Description: An eXtensible UPnP agent
Section: extras/servers
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://xupnpd.org
Source: http://tsdemuxer.googlecode.com/svn/trunk/xupnpd
Depends: @DEP@
