Package: libmount
Version: @VER@-1
Description: Library to parse/manage /etc/fstab, /etc/mtab etc.
Section: base/libraries
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://kernel.org/~kzak/util-linux/
Source:
Depends: @DEP@
Provides: @PROV@
