Package: libOpenThreads
Version: @VER@-1
Description: Lightweight C++ Thread API
Section: base/libraries
Priority: standard
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://trac.openscenegraph.org/projects/osg//wiki/Support/KnowledgeBase/OpenThreads
Source: http://trac.openscenegraph.org/projects/osg/browser/OpenThreads
Depends: @DEP@
Provides: @PROV@
